@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 100%;
    height: 2430px;
    background-color: #283F44;
}
/* Header */
.header{
    width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}
.header .logo a{
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    color: #FFFFFF;
    text-decoration: none;
}
.header .menu ul{
    list-style-type: none;
    display: flex;
}
.header .menu ul li{
    margin-left: 35px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
}
.header .menu ul li a{
    text-decoration: none;
    color: #FFFFFF;
}

.header .menu ul li #menu_button{
    padding: 21px 27px;
    background-color: #FFFFFF;
    color: #283F44;
    border-radius: 10px;
}

/* Slider */
.slider{
    width: 1500px;
    height: 1200px;
    margin: 25px auto;
}
.slider .title{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.slider .slider_body{
    margin-top: 30px;
    width: 1500px;
    height: 850px;
    overflow:hidden;
    position: relative;
}
.slider .slider_body .images{
    display: flex;
	position: absolute;
	top: 0px;
	left:0px;
	transition:all 1s;
}

.slider .info{
    width: 1500px;
    height: 200px;
    display: flex;
    align-items: center;
}
.slider .progressbar{
    width: 100%;
    height: 3px;
    background-color: #A4A4A4;
    position: relative;
}
.slider .progressbaredit{
    width: 500px;
    height: 4px;
    background-color: #FFFFFF;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    transition: all 1s;
}
.slider .info .block{
    width: 450px;
    height: 100px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 100px;
    cursor: pointer;
}
.slider .info .block .title{
    text-align: start;
}

.slider .info .block .text{
    text-align: start;
}

/* workplan */
.workplan{
    width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.workplan .count{
    width: 590px;
}
.workplan .count .title{
    font-weight: 700;
    font-size: 45px;

    color: #FFFFFF;
}
.workplan .count .count_block{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 35px 35px;

}
.workplan .count .count_block .suptitle{
    font-size: 25px;
    color: #FFFFFF;
}
.workplan .count .count_block .number{
    font-weight: 700;
    font-size: 100px;
    color: #FFFFFF;
    line-height: 151px;
}

.workplan .info{
    width: 800px;
}
.workplan .info .text{
    font-weight: 400;
    font-size: 40px;
    line-height: 62px;
    color: #FFFFFF;
    text-align: justify;
}


/* works */
.works{
    width: 100%;
    height: 1800px;
    background-color: #FFFFFF;
    margin: 20px auto;
    padding: 100px 0;
}
.works_body{
    width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.works_body .lhead .title{
    font-weight: 700;
    font-size: 40px;
}
.works_body .lhead .link{
    font-weight: 700;
    text-decoration: none;
    font-size: 25px;
    line-height: 49px;
    color: #00D1FF;
}
.works_body .block img{
    width: 675px;
    height: 695px;
}
.works_body .block .title{
    font-weight: 500;
    font-size: 30px;
    line-height: 46px;
    color: #000000;
}
.works_body .block .suptitle{
    font-weight: 400;
    line-height: 28px;
    font-size: 23px;
}

/* footer */
.footer{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #283F44
}
.footer_body{
    width: 1500px;
    margin: 0 auto;
    padding: 50px 0;
}
.footer .info{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.footer .info .title{
    font-weight: 600;
    font-size: 50px;
    line-height: 68px;

    color: #FFFFFF;
}
.footer .info .link{
    margin-top: 100px;
    font-weight: 500;
    font-size: 19.9752px;
    line-height: 24px;
    color: #3FD7F9;
    text-decoration: none;
}
.footer .block img{
    width: 418px;
    height: 296px;
}

.footer .block .title{
    margin-top: 20px;
    font-weight: 400;
    font-size: 27px;
    color: #FFFFFF;
}

.footer .block .suptitle{
    font-weight: 400;
    font-size: 14.9484px;
    line-height: 18px;
    
    color: rgba(255, 254, 254, 0.53);
}
.box{
    display: flex;
    justify-content: space-between;
}
.footer .row{
    width: 100%;
    margin: 10px auto;
    border-top: 2px solid #00D1FF;
}